
@{
    ViewBag.Title = "Osobni podaci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Osobni podaci</h2>
<br/>
<b>Izjava o zaštiti i prikupljanju osobnih podataka</b><br/>
HOSTY se obavezuje na zaštitu osobnih podataka kupaca i to tako što će prikupljati samo nužne, osnovne, podatke o kupcima/korisnicima koji su prijeko potrebni kako bi naše obaveze prema kupcima/korisnicima bile uredno ispunjene. HOSTY svoje kupce/korisnike obavještava redovno o načinu korištenja prikupljenih podataka te dajemo kupcima/korisnicima mogućnost izbora o upotrebi njihovih podataka. Svi podaci o kupcima/korisnicima se strogo čuvaju i dostupni su samo zaposlenicima kojima su ti podaci potrebni za obavljanje posla. Svi naši zaposlenici i poslovni partneri odgovorni su za poštivanje načela zaštite privatnosti. Slanjem Vaših podatka na ovu web stranicu dajete suglasnost za korištenje tih podataka u skladu sa ovim Pravilima o privatnosti.

<br/><br/>
Privatnost naših kupaca/korisnika te sigurnost njihovih osobnih podataka nam je veoma važna. Ova Pravila o privatnosti objašnjavaju način na koji koristimo podatke koje prikupimo o Vama te kako možete (ukoliko to želite) ograničiti korištenje tih informacija i mjera koje poduzimamo a u svrhu zaštite Vaših osobnih podataka. Naša pravila o privatnosti odnose se samo na informacije koje mi dobijemo od Vas. Ako posjetite drugu web stranicu preko linka koji se nalazi na ovim stranicama, Vaši podaci na tim stranicama se mogu koristiti drugačije nego što je to opisano u našim pravilima o privatnosti a HOSTY nema učešće u dijeljenju kao ni u upotrebi tih podataka.

<br/><br/>
<b>Koje podatke skupljamo i kako ih koristimo?</b><br /><br />
Kada se registrirate na našu web stranicu ili kada naručite našu uslugu putem ove web stranice, mi prikupljamo podatke o Vama koji spadaju u osnovne podatke za registraciju a najčešće su to sljedeći podaci:
<br/><br/>
Vaše ime, prezime i adresa stanovanja
Vaš broj telefona i e-mail adresa
Vaš datum rodenja
Detalje u vezi narudžbe koju želite izvršiti
Imajte na umu da su moguće situacije koje zahtijevaju dodatne informacije i/ili podatke.

Sve informacije koje prikupimo o Vama pohranjene su elektronski, u našoj bazi podataka. Informacije o Vama, između ostalog, prikupljamo i u svrhu:

Komunikacije sa Vama u vezi narudžbe koju ste napravili putem naše web stranice
Obrade svih Vaših zahtjeva putem naše web stranice u datom trenutku, kao i u budućnosti
Kontaktiranja u slučaju potrebe, a u poslovne svrhe
Poštivanja pozitivnih zakonskih propisa u Bosni i Hercegovini

Vaši lični podaci će biti korišteni isključivo u onoj mjeri koja je potrebna da bismo Vam osigurali kvalitetnu uslugu te time ispunili Vaša očekivanja.

<br /><br />
<b>Korištenje kolačića i drugih tehnologija za prikupljanje podataka</b><br /><br />
Koristimo se standardnim tehnologijama za praćenje i prikupljanje informacija koje automatski snimaju i pohranjuju informacije o korisnicima/posjetiteljima naših web stranica. To može uključivati i korištenje kolačića ("cookies"), koji će biti pohranjeni u Vašem browseru. Ove informacije ne identificiraju Vas osobno niti ugrožavaju Vaše osobne podatke te time niste ugroženi ni Vi kao ni Vaša privatnost. Informacije prikupljene na prethodno spomenute načine koriste se za prepoznavanje korisnika prilikom popunjavanja obrazaca za naručivanje i obrazaca za prijavu, za poboljšanje rada naše web stranice te nam daju podatke o broju posjetitelja na našoj web stranici i o web preglednicima koje naši posjetitelji koriste. Ne pratimo, niti snimamo, podatke o neregistriranim posjetiteljima i njihovim posjetama. Preporučujemo da prilagodite postavke Vašeg kompjutera tako da blokira kolačiće sa neželjenih stranica ili da ih prihvati samo uz Vašu suglasnost.
<br /><br />
<b>Kako štitimo Vaše podatke?</b><br /><br />
Vaše osobne podatke uvijek tretiramo kao povjerljive, osim kada smo ih obvezni objaviti po zakonu (na primjer u slučaju prijevare ili eventualno počinjenih krivičnih povreda zakona), odnosno u skladu sa uputama koje su nam date od strane nadležnih tijela . U skladu sa Zakonom o zaštiti podataka primjenjujemo stroge sigurnosne procedure za pohranu prikupljenih i dobivenih podataka. Osobne podatke koje prikupimo pohranjujemo na način da se onemogući neovlašteni pristup istima ili njihovo otkrivanje. Internet nije siguran medij te smo stoga poduzeli razne mjere sigurnosne zaštite. Preporučujemo Vam da se tijekom komunikacije sa nama pridržavate sigurnosnih protokola te da to isto činite i prilikom svakodnevnog, uobičajenog, korištenja interneta.

<br /><br />
<b>Ažuriranje osobnih podataka</b><br /><br />
Ako se bilo koji od podataka promijeni, neki od podataka koje ste naveli prilikom registracije ili naručivanja neke od naših usluga, dužni ste nas obavijestiti o nastalim izmjenama ili promjenama kako bismo imali mogućnost ostati u kontaktu sa Vama te Vas na vrijeme obavještavati o svemu što je vezano za uslugu koju ste zakupili ili naručili od nas. Uobičajen primjer takvih promjena je e-mail adresa koja se pretežno, ali ne i isključivo, koristi za komunikaciju sa korisnicima/kupcima naših usluga. U slučaju da prestajete sa upotrebom e-mail adrese koju ste koristili prilikom registracije/narudžbe na našoj web stranici, potrebno je da nam javite ispravnu e-mail adresu slanjem elektronske poruke na: info@HOSTY.ba. Isti način obavještavanja možete primjeniti i u slučaju promjene bilo kojeg drugog podatka koji ste nam ustupili na početku suradnje.

<br /><br /><b>Vaš pristanak</b><br /><br />
Unosom Vaših podataka i/ili informacija, koje nam dajete na obrascu za registraciju ili naručivanje usluga, Vi dajete svoj pristanak na korištenje tih informacija kao što je navedeno u ovim Pravilima. U slučaju promjena naših Pravila o privatnosti, iste će biti ažurirane i dostupne na našoj web stranici. U slučaju preseljenja naše web stranice na drugi server, podaci koje smo prikupili bit će preneseni i pohranjeni na novom serveru. Pristankom na naše odredbe i uvjete korištenja naših web stranica pristajete i na takav vid upotrebe Vaših osobnih podataka/informacija.

<br /><br /><b>
    Općenito
</b><br /><br />
    Ukoliko želite kopiju svih Vaših osobnih podataka kojima raspolažemo, pošaljite nam e-mail poruku na sljedeću adresu: info@HOSTY.ba. Nakon što provjerimo Vaš zahtjev te se uvjerimo da je isti upućen od Vas lično, u kratkom roku ćemo Vam i dostaviti informacije o Vašim podacima a kojima mi raspolažemo. Ukoliko imate prigovor glede bilo kakvog kršenja ovih Pravila o privatnosti, kontaktirajte nas na: info@HOSTY.ba. Kada zaprimimo prigovor isti ćemo pregledati i pobrinuti se da je korištenje Vaših osobnih podataka u skladu sa našim Pravilima o privatnosti i svim važećim zakonima. O svemu poduzetom, vezano za podnešeni prigovor, na vrijeme ćemo Vas obavijestiti.
<br /><br />
    Ovaj dokument je izdan elektronskim putem, te je pravovaljan bez žiga ili potpisa odgovorne osobe.
