
@{
    ViewBag.Title = "Uvjeti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uvjeti</h2>

<br/><br /> <b>OSNOVNO</b> <br /><br />
Ovi uvjeti korištenja se ostvaruju izmedu pružatelja webhosting usluga (HOSTY d.o.o., u daljnjem textu HOSTY) i korisnika usluga koji može biti bilo koja pravna ili fizička osoba ( u daljnjem sadržaja KORISNIK ). Uvjeti korištenja koji slijede su neophodni kako bismo osigurali što kvalitetniju uslugu svim našim korisnicima,a u isto vrijeme zadovoljili naše zakonske i moralne obaveze. U slučaju nepoštivanja bilo kojeg od dole navedenih uvjeta, rezultirat će suspenzijom korisničkog računa bez prethodnog upozorenja.

<br /><br /> <b>
    NELEGALNO KORIŠTENJE
</b> <br /><br />
    Naši serveri su namjenjeni za korištenje zakonom dopuštenih aktivnosti. Prijenos, spremanje, distribucija informacija, podataka ili materijala kojim se krše bilo koji zakoni ili odredbe je strogo zabranjeno. To uključuje, ali se ne ograničava na: materijal zaštićen copyrightom, trademark, poslovna tajna ili ostalo intelektualno vlasništvo ili pravo korišteno bez autorizacije i materijal koji je prost, uvredljiv, predstavlja nezakonitu prijetnju, ili krši zakone kontrole izvoza. Primjeri neprihvatljivog sadržaja ili linkova:
<br /><br />
Piratski programi<br />
Hackerski programi ili arhive<br />
Warez stranice<br />
MP3<br />
IRC botovi<br /><br />

Korisnik naših usluga prihvaća nadoknaditi štetu i ne kriviti HOSTY za bilo kakve tužbe proizašle iz korištenja usluga na način da štete pretplatniku ili bilo kojoj drugoj strani. HOSTY jedini odlučuje što predstavlja kršenje ovih pravila.
<br /><br />

<br /><br /> <b> PREKOMJERNO KORIŠTENJE </b> <br /><br />
Korisnik "shared webhosting" usluge se obvezuje da nijedan njegov web hosting korisnički račun neće zauzeti više od:<br/>
15% procesora na duže od jednog sata kontinuirano<br />
15% radne memorije duže od jednog sata kontinuirano<br />
15% mrežnih I/O resursa duže od jednog sata kontinuirano<br />
15% disk I/O resursa duže od jednog sata kontinuirano<br />
200 istovremenih konekcija prema HTTP servisu<br /><br />

<br /><br /> <b> LIVE STREAMING </b> <br /><br />
Nije dozvoljeno korištenje Virtulanih Privatnih Servera i Dedicated Servera u svrhe video streaming servera. Bilo koji oblik video streaminga sa servera zakupljenih kod nas će se smatrati kršenjem uvjeta korištenja!

<br /><br /> <b> IRC </b> <br /><br />
Trenutno ne dozvoljavamo upotrebu IRC, Egg Drops, BNC, kao ni IRC botova na našim serverima. Fajlovi sa smjernicama na IRC ili bilo koje gore navedeno su zabranjeni. Isto tako i bilo koji program koji djeluje kao irc server ili pruza chat usluge u pozadini nije dozvoljen.

<br /><br /> <b> PROXY </b> <br /><br />
Na zakupljenoj Shared webhosting usluzi ne dozvoljavamo nikakve proxy servere, ni za osobnu kao ni za poslovnu upotrebu. Fileovi koji djeluju ili se ponasaju kao proxy, ili sa smjernicama na proxy ili bilo sto slicno su zabranjeni.

<br /><br /> <b> BACKGROUND PROCESI I SLIČNO </b> <br /><br />
Na zakupljenoj Shared webhosting usluzi nisu dozvoljeni background programi kao što su IRC botovi; eggdrop; BitchX; XiRCON; i bilo koji drugi programi koji ometaju normaln rad servera.

<br /><br /> <b> UCE (UNSOLICITED COMMERCE EMAIL) ILI SPAM</b> <br /><br />
Spaming, ili slanje velike količine neželjenih e-mail poruka, sa ili preko servera koje hosta HOSTY, ili upotreba e-mail adrese koju opslužuje HOSTY je u potpunosti zabranjeno. HOSTY je taj koji odlučuje kada se ovo pravilo krši.

<br /><br /> <b> ZLOUPORABA SERVERA </b> <br /><br />
Svaki pokušaj destabiliziranja ili oštećivanja HOSTY servera ili našeg korisnika je u potpunosti zabranjeno. Svako nepridržavanje svih navedenih smjernica i pravila rezultirat ce deaktivacijom korisničkog računa i/ili građanskom odgovornošću. Mi zadržavamo pravo da uklonimo bilo koji korisnički račun bez prethodne obavijesti uz predočenje razloga ukidanja dotičnog.

<br /><br /> <b> BACKUP </b> <br /><br />
HOSTY vrši dnevne, tjedne i mjesečne backupe na svim Shared Webhosting serverima. HOSTY nije odgovoran za izgubljene podatke, vrijeme, prihod ili bilokoje druge resurse zbog loših backupa ili nepostojećih backupa.

<br /><br /> <b> ODGOVORNOSTI KORISNIKA </b> <br /><br />
KORISNIK je odgovoran za sve aktivnosti koje potječu sa njegovog korisničkog računa, osim ako se ne dokaže da je žrtva vanjskog hackinga ili krivotvorenja adrese. KORISNIK je odgovoran za osiguravanje vlastitog korisničkog imena i lozinke. KORISNIK preuzima odgovornosti za sav materijal na svojoj web stranici, koji postavi netko drugi. Upotreba HOSTY usluga zahtjeva određenu razinu znanja korištenja Internet jezika, protokola i programa.

<br /><br /> <b> AKTIVNOSTI KOJE PODUZIMA HOSTY </b> <br /><br />
Svako nepoštivanje i/ili neispunjavanje navedenih odredbi i uvjeta od strane korisnika je temelj za deaktivaciju računa. HOSTY zadržava pravo uklanjanja korisničkog računa bez prethodne obavijesti. Kada HOSTY
 primjeti navedena nepridržavanja svojih pravila, bit će pokrenuta istraga. Tijekom istrage, HOSTY može ograničiti korisnikov pristup u svrhu sprečavanja daljnjih potencijalno neovlaštenih aktivnosti. Ovisno o ozbiljnosti prekršaja, HOSTY može , ograničiti, suspendirati, ili ukinuti korisnikov korisnički račun i/ili poduzeti druge aktivnosti vezane uz građansku odgovornost. Ako je prekršaj kriminalno djelo, HOSTY će obavijestiti primjereni organ vlasti. Korisnici HOSTY oslobađaju odgovornosti za štetu nastalu njima ili nekom drugome kroz upotrebu naših usluga. HOSTY usluge se nude takve kakve jesu bez ikakvih garancija, izravnih iliimplicirani. Ne tvrdimo niti garantiramo da ce naša usluga biti u potpunosti, sigurna, neprekinuta i bez pogrešaka.

<br /><br /> <b> PLAĆANJE </b> <br /><br />
Naša usluga se isključivo temelji na pred-plaćenoj usluzi ( tzv. PRE-PAID ), koja može biti u periodima od jednog mjeseca do jedne godine. HOSTY nije dužan pružiti uslugu korisniku koji nije podmirio sva svoja dugovanja za nadolazeći naručeni period. HOSTY zadržava pravo da onemogući pristup svim uslugama KORISNIKA, ukoliko isti ima neizmirenih dugovanja prema HOSTY, sve do izmirenja istih. HOSTY se obavezuje da ce kontaktirati KORISNIKA najkasnije 30 dana i 7 dana prije isteka zakupljene usluge, te mu ponuditi produženje ili deaktivaciju iste. KORISNIK se obavezuje da ce podmiriti sva potraživanja od HOSTY-a najkasnije 7 dana od primitka računa , osim ako nije dogovoreno drugačije. Sve HOSTY usluge se naplaćuju prema važećem cjeniku koji se može pronaći na Internet adresi www.hosty.ba.

<br /><br /> <b> PROMJENE </b> <br /><br />
HOSTY zadržava pravo da dodaje, briše ili mijenja bilo koji uvjet bilo kad i bez prethodne najave.

Prihvaćanjem ovih uvjeta obavezujete se poštivati iste!<br /><br />

Ovaj dokument je izdan elektronskim putem, te je pravovaljan bez žiga ili potpisa odgovorne osobe.