@using DataAccessLayer.Klase

@{
    ViewBag.Title = "Promjena lozinke";
    Layout = "~/Views/Shared/_LayoutKlijent.cshtml";
    Klijenti k = (Klijenti) ViewData["k"];
}

<h2>Promjena lozinke</h2>

Korisnik: @k.Ime @k.Prezime <br/><br/>

<form action="/Klijent/PromjenaPasswordaSave">
    <div class="form-inline">
        <label>Password:</label>
        <input type="text" name="pw" placeholder="Password" class="form-control" />
    </div>
    <br/>
    <input type="submit" class="btn btn-default" value="Snimi"/>
</form>