@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Nova država";
}
<br />
<form action="/DrzavaKantonGrad/DrzavaSnimi">
    <div class="form-group">
        <label>Država:</label>
        <input type="text" name="Naziv" class="form-control" placeholder="Država" />
    </div>
    <input type="submit" value="Snimi" class="btn btn-default" />
</form>


