@using DataAccessLayer.Klase
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Novi grad";
    List<Kanton> k = (List<Kanton>)ViewData["k"];
}

<br/>
<form action="/DrzavaKantonGrad/GradSnimi">
    <div class="form-group">
        <label>Grad:</label>
        <input type="text" name="Naziv" class="form-control" placeholder="Grad" />
    </div>
    <div class="form-group">
        <label>Kanton:</label>
        <select id="Kanton" name="Kanton" class="form-control">
            @foreach (Kanton x in k)
            {
                <option value="@x.Id">@x.Naziv </option>
            }
        </select>
    </div>
    <input type="submit" value="Snimi" class="btn btn-default" />
</form>

