
@{
    ViewBag.Title = "Domene dodaj";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<form action="/domene/DomeneSnimi">
    <div class="form-group">
        <label>Domen:</label>
        <input type="text" name="Domen" class="form-control" placeholder="Domen" />
    </div>
    <input type="submit" value="Snimi" />
</form>