@using DataAccessLayer.Klase

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Admin a = (Admin) ViewData["a"];
}

<br/>
<div class="form-inline">
    <label>E-mail: </label><label> @a.Email</label>
</div>
<div class="form-inline">
    <label>Password: </label><label> @a.Password</label>
</div>


