
@{
    Layout = null;
}

<form action="/IP/DostupneIPSnimi">
    <div class="form-group">
        <label>IP:</label>
        <input type="text" name="IP" class="form-control" placeholder="IP" />
    </div>
    <div class="form-group">
        <label>Subnet:</label>
        <input type="text" name="Subnet" class="form-control" placeholder="Subnet" />
    </div>
    <input type="submit" value="Snimi" class="btn btn-default" />
    <br /><br />
</form>