@using DataAccessLayer.Klase
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Nova IP";
    List<DostupneIP> ip = (List<DostupneIP>) ViewData["IP"];
}
<script src="~/scripts/jquery-3.1.1.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>

<br />
<br />
@using (Ajax.BeginForm("CallAjax", "IP", new AjaxOptions() { UpdateTargetId = "izlaz" }))
{
    <input type="submit" value="Dodaj novu IP" class="btn btn-default" />
}


<br />
<div id="izlaz"></div>

<table class="table table-striped" style="background-color: rgb(248, 248, 248)">
    <thead>
    <th>IP/S.M.</th>
    <th>Zauzeto</th>
    </thead>

    @foreach (DostupneIP x in ip)
    {
        <tr>
            <td>@x.IP/@x.Subnet</td>
            <td> <input type="checkbox" checked="@x.Zauzeto" disabled /> </td>
        </tr>
    }
</table>